@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

h1 {
  color: green;
}

h2 {
  margin: 0;
  padding: 30px 0 0 0;
}

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: auto;
}

mark {
  font-weight: bold;
  color: white;
  background-color: green;
  padding: 3px;
}

.searchFields {
  display: 'flex';
  flexDirection: 'column';
  width: 800px;
  padding: 5px;
}

/*
  The following styles correspond to className assignments
*/
.errorMsg {
  font-family: "Fira Mono", monospace;
  text-align: left;
  white-space: pre-wrap;
  color: red;
}

/*
  Display of executed queries in details table
*/
.queryString {
  font-family: "Fira Mono", monospace;
  font-weight: bold;
  font-size: 1em;
}

.flex-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  align-items: center;
  justify-content: center;
  width: 100%;
}

.row {
  display: flex;
  /*padding: 0 20px;*/
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.searchParams {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 800px;
  max-width: 1610px;
  align-self: center;
}

.pageNumbers {
  align-self: center;
  padding: 0 10px 0 10px;
}

.sentenceResults {
  padding: 10px 0 0 0;
  align-self: center;
  align-items: center;
}

.scoreDocs {
  max-width: 800;
  align-self: center;
  align-items: center;
}

/*#root div{
  width:100%;
}*/

.parentDoc {
  padding: 10px 0 20px 0;
}

.odinsonSearchButton:focus {
  outline: none;
}