<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <title>OdinStudio</title>
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">
        <link rel="stylesheet" href="@routes.Assets.at("ui/css/vendor.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("ui/css/app.min.css")">

    </head>
    <body>
        <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Main container -->
        <div id="main"></div>
        <div id="grammar_editor"></div>
        <div id="details-display"></div>

        <!-- Main script bundle -->
        <script src="@routes.Assets.at("ui/js/bundle.min.js")"></script>

    </body>
</html>
